<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3 mt-5 m-2">
  <div class="col">
    <div class="card justify-content-center">
      <div class="card-body justify-content-center">
        <app-nb-paniers></app-nb-paniers>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card justify-content-center">
      <div class="card-body justify-content-center">
        <app-nb-visites></app-nb-visites>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card justify-content-center">
      <div class="card-body justify-content-center">
        <app-paniers-abandonnes></app-paniers-abandonnes>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card justify-content-center">
      <div class="card-body justify-content-center">
        <app-recurrence-commandes></app-recurrence-commandes>
      </div>
    </div>
  </div>
</div>
