<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3 mt-5 m-2">
  <div class="col">
    <div class="card justify-content-center">
      <div class="card-body justify-content-center">
        <app-conversion-commandes></app-conversion-commandes>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card justify-content-center">
      <div class="card-body justify-content-center">
        <app-conversion-paniers></app-conversion-paniers>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card justify-content-center">
      <div class="card-body justify-content-center">
        <app-total-produits></app-total-produits>
      </div>
    </div>
  </div>
</div>
