<div class="sticky-top">
    <h2 class="text-white text-center m-5 ">Troisième page</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3 m-2">
        <div class="col">
            <a href="">
                <div class="card">
                    <img src="assets/img/user.jpg" class="img-fluid size" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Infos utiles</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="">
                <div class="card">
                    <img src="assets/img/category.jpg" class="img-fluid size" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Infos utiles</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="">
                <div class="card">
                    <img src="assets/img/banner.jpg" class="img-fluid size" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Infos utiles</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="">
                <div class="card">
                    <img src="assets/img/produits.jpg" class="img-fluid size" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Infos utiles</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="">
                <div class="card">
                    <img src="assets/img/commandes.jpg" class="img-fluid size" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Infos utiles</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>