.card{
  height: 500px;
}

@media all and (min-width: 992px){
  .card{
    height: 450px;
  }

}

/* Break point md*/
@media screen and (max-width: 768px) {
  .card{
    height: 400px;
  }
}
/*break point sm*/
@media screen and (max-width: 576px) {
  .card{
    height: 300px;
  }

}
