<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3 mt-5 m-2">
  <div class="col">
    <div class="card justify-content-center">
      <div class="card-body justify-content-center">
        <app-total-vente></app-total-vente>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card justify-content-center">
      <div class="card-body justify-content-center">
        <app-nbr-commande></app-nbr-commande>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card justify-content-center">
      <div class="card-body justify-content-center">
        <app-panier-moyen></app-panier-moyen>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card justify-content-center">
      <div class="card-body justify-content-center">
        <app-nouveaux-clients></app-nouveaux-clients>
      </div>
    </div>
  </div>
</div>
