<div class="sticky-top">
    <h2 class="text-white text-center m-5 ">Première page</h2>
    <div class="row row-cols-3 g-3 m-2">
        <div class="col">
            <div class="card justify-content-center">
                <div class="card-body justify-content-center">
                  <app-total-vente></app-total-vente>
                </div>
            </div>
        </div>
        <div class="col">
          <div class="card justify-content-center">
              <div class="card-body justify-content-center">
                <app-nbr-commande [startDate]="startDate" [endDate]="endDate"></app-nbr-commande>
              </div>
          </div>
      </div>

    </div>
</div>
